@import "lib.less";

html, body, .ink-grid {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.ohidden {
  overflow: hidden;
}

.about.box {
  margin-top: 10px;
}

.box {
  .border-radius(2px);
  .box-shadow(0, 1px, 3px, 221, 221, 221, 1);
  border: 1px solid #DDD;
  background-color: #FFF;
  padding: 0.5em 1em;
}

.column-group {
  height: 100%;
  margin: 0;
  
  .column {
    height: 100%;
  } 
}

#side {
  overflow: auto;
  
  ul {
    margin: 0;
    padding: 0;
    overflow: auto;
    
    li {
      margin: 10px;
      
      &:hover {
        border: 1px solid #4a9b17;
        .box-shadow(0, 1px, 3px, 74, 155, 23, 0.2);
      }
    }
  }
  
  h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

#map {
  width: 100%;
  height: 100%;
  
  // Correct the display of all controls inside the google maps widget
  * {
    max-width: none;
    max-height: none;
  }
}