html, body, .ink-grid {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.column-group {
  height: 100%;
  
  .column {
    height: 100%;
  } 
}

#side {
  overflow: auto;
  
  ul {
    overflow: visible;
  }
  
  h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

#map {
  width: 100%;
  height: 100%;
  
  // Correct the display of all controls inside the google map widget
  * {
    max-width: none;
    max-height: none;
  }
}