@main("Trending Venues") {
<div class="ink-grid">
  <div class="column-group">
    <div class="about box large-70 push-center">
      <h1>Welcome to 'Trending Venues'</h1>
      <p>Trending Venues is a tool that helps you discover places around you that trends right now in social media communities.</p>
      <p>Trending Venues is built with these technologies:</p>
      <div class="column-group content-center">
        <div class="large-50 vertical-space"><img src="@routes.Assets.at("images/playframework.png")" height="100px"></div>
        <div class="large-50 vertical-space"><img src="@routes.Assets.at("images/ink.png")" height="100px"></div>
        <div class="large-50"><img src="@routes.Assets.at("images/google-maps.jpg")" height="100px"></div>
        <div class="large-50"><img src="@routes.Assets.at("images/foursquare.jpg")" height="100px"></div>
      </div>
      <ul>
        <li><a href="http://www.playframework.com/" target="_blank">Play Framework 2</a>, <a href="http://www.scala-lang.org/" target="_blank">Scala language</a></li>
        <li><a href="https://developer.foursquare.com/" target="_blank">Foursquare API</a></li>
        <li><a href="http://ink.sapo.pt/" target="_blank">Ink (sapo) UI framework</a></li>
        <li><a href="http://lesscss.org/" target="_blank">Less CSS</a></li>
        <li><a href="https://developers.google.com/maps/documentation/javascript/" target="_blank">Google Maps API v3</a></li>
        <li><a href="http://jquery.com/" target="_blank">jQuery 1.9.0</a></li>
      </ul>
      <p>Credits for the (free to use anywhere) <a href="https://www.iconfinder.com/icons/43244/browser_earth_global_globe_international_internet_map_monotone_planet_transparent_world_icon" target="_blank">earth image</a> in favicon goes to <a href="http://www.brightmix.com/" target="_blank">brightmix</a>.</p>
      <p>Trending Venues is built by <a href="http://firas.bessadok.com/" target="_blank">Firas Bessadok</a>. Feel free to fork the project on <a href="https://github.com/fbessadok" target="_blank">github</a>, report issues, and make pull requests.</p>
    </div>
  </div>
</div>
}
